<div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Alta pelicula</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
  
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Lista de actores</span>
          </h4>
          <app-tabla-actor (enviarActor)='recibirActor($event)'></app-tabla-actor>
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Datos de la pelicula</h4>
          <form class="needs-validation" [formGroup]="form" (ngSubmit)='agregarPelicula()'>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName='nombre' placeholder="" value="" required>
                <div class='text-danger' *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.required">
                  El nombre es requerido.
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Tipo</label>
                <select type="text" class="form-control" formControlName='tipo'  placeholder="" value="" required>
                    <option value="Terror">Terror</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Amor">Amor</option>
                    <option value="Otros">Otros</option>

                </select>
                <div class='text-danger' *ngIf="form.get('tipo')?.touched && form.get('tipo')?.errors?.required">
                  El tipo es requerido
                </div>
              </div>
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Cantidad de publico</label>
                <input type="text" class="form-control" formControlName='cantidadPublico'  placeholder="" value="" required>
                <div class='text-danger' *ngIf="form.get('cantidadPublico')?.touched && form.get('cantidadPublico')?.errors?.required">
                    La cantidad de publico es requerida
                </div>
              </div>
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Fecha de estreno</label>
                <input type="text" class="form-control" formControlName='fechaEstreno'  placeholder="" value="" required>
                <div class='text-danger' *ngIf="form.get('fechaEstreno')?.touched && form.get('fechaEstreno')?.errors?.required">
                  La fecha de estreno es requerida
                </div>
              </div>

              <div class="col-md-5">
                <label for="country" class="form-label">Actor</label>
                <input type="text" class="form-control" formControlName='actor' placeholder="" value='' required>
                <div class='text-danger' *ngIf="form.get('actor')?.touched && form.get('actor')?.errors?.required">
                  Ingrese un pais valido.
                </div>
              </div>

              <input type="file" (change)="onFileChange($event)" />

  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type='submit'>Agregar pelicula</button>
            </div>
          </form>
        </div>
      </div>
    </main>
</div>