<main>
    <div class="container py-4">  
      
  
      <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 bg-light rounded-3">
              <h2>Listado componentes</h2>
              <app-tabla-pelicula *ngIf='this.mostrar' (seleccionada)='recibirPelicula($event)'></app-tabla-pelicula>
              <button class="btn btn-secondary" type="button" (click)='cambiarVista()'>Cambiar vista</button>
            </div>
          </div>
        <div class="col-md-4">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Borrar</h2>
            <p>Borrado de una entidad</p>
            <button class="btn btn-outline-light" type="button">Borrar</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <div *ngIf='!this.peliculaSeleccionada'>
              <h2>Solo mostrar</h2>
              <p>Listado de entidad</p>
            </div>
            <div *ngIf='this.peliculaSeleccionada'>
              <app-detalle-pelicula [peliculaRecibida]='this.peliculaSeleccionada'></app-detalle-pelicula>
            </div>
            <button class="btn btn-outline-light" type="button" (click)='borrarPelicula()'>Limpiar</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Modificar</h2>
            <p>Modificacion de una entidad</p>
            <button class="btn btn-outline-light" type="button">Guardar cambios</button>
          </div>
        </div>
    </div>
  </div>
</main>