<main>
    <div class="container py-4">  
      
  
      <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 bg-light rounded-3">
              <h2>Listado componentes</h2>
              <app-tabla-actor (enviarActor)='recibirActor($event)'></app-tabla-actor>
            </div>
          </div>
        <div class="col-md-5">
          <div class="h-100 p-5 text-white rounded-3" *ngIf='this.peliculasActor'>
            <div>
                <app-tabla-pelicula [peliculasActor]='this.peliculasActor'></app-tabla-pelicula>
            </div>
            <button class="btn btn-danger" type="button" (click)='borrarPeliculasActor()'>Limpiar</button>
          </div>
        </div>
          <div class="col-md-3 offset-md-1">
            <div class="h-100 p-5 text-white rounded-3" *ngIf='this.paisSeleccionado'>
              <div>
                  <app-tabla-paises [paisRecibido]='this.paisSeleccionado'></app-tabla-paises>
              </div>
              <button class="btn btn-danger" type="button" (click)='borrarPaisActor()'>Limpiar</button>
            </div>
        </div>
          <div class="col-md-2">
            <div class="h-100 p-5 text-dark rounded-3" *ngIf='this.actorSeleccionado'>
              <div>
                  <app-detalle [actor]='this.actorSeleccionado'></app-detalle>
              </div>
              <button class="btn btn-danger" type="button" (click)='borrarActor()'>Limpiar</button>
            </div>
        </div>
        <div class='mt-3'>
          <button class='btn btn-primary' [routerLink]="['/']">Volver al inicio</button>
        </div>
    </div>
  </div>
</main>